#footer {
  // margin-top: 3.75rem;
  width: 100%;
  z-index: 100;
  background-color: var(--color-purple-900);

  background-image: url("../images/logo-icon-purple.svg");
  background-position: right 75px center;
  background-repeat: no-repeat;

  .main-footer {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    font-weight: 200;

    .footer-container {
      z-index: 10;
      position: relative;
      padding: 3.75rem var(--container-padding);

      p,
      a,
      h4,
      h5,
      h6 {
        color: var(--color-white);
        text-decoration: none;
      }

      .footer-logo {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0.5rem;

        img,
        svg {
          height: 5.8rem;
          width: auto;
        }
      }

      .footer-cols {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;

        .footer-col-logo {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .footer-col {
          .footer-col--content {
            font-size: 1rem;
            p {
              margin: 0;
              font-size: 1rem;
            }
            a {
              text-decoration: none;
              font-size: 0.5rem;

              &:hover {
                text-decoration: underline;
                color: var(--color-purple-600);
              }
            }
          }

          &.footer-col--nav {
            margin: 0;
            padding: 0;
            list-style: none;
            gap: 1.5rem;
            font-weight: 200;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 4rem;
            justify-content: space-between;

            @media (min-width: 768px) {
              flex-direction: row;
              justify-content: space-between;
            }

            div {
              display: flex;
              flex-direction: column;
              flex: 1;
              max-width: 70%;

              @media (max-width: 768px) {
                max-width: 100%;
              }
            }
            ul.menu {
              list-style: none;
              margin: 0;
              padding: 0;

              p {
                margin: 0;
              }

              li {
                padding: 0.7rem 0;
              }
            }

            .link-decoration {
              display: flex;
              align-items: center;
              flex-direction: row;
              gap: 4px;
              padding: 0.7rem 0;
            }

            .footer-text--bold {
              font-weight: 600;
            }

            &.informations {
              padding-top: 3rem;

              @media (min-width: 992px) {
                padding-top: 0;
              }
            }
          }

          .media-container {
            display: flex;
            flex-direction: row;
            gap: 0.2rem;

            a {
              height: 1.2rem;
              width: auto;
            }
          }
        }
      }

      @media (min-width: 992px) {
        .footer-cols {
          flex-direction: row;
        }
      }
    }

    .by-footer {
      width: 100%;
      position: relative;
      z-index: 10;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1.2rem;
      border-top: 1px solid rgba(#fff, 0.05);
      width: 100%;
      background-color: var(--color-purple-900);
      color: white;
      font-weight: 300;

      .by-footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem 0;
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);

        a {
          color: #a28d69;

          img,
          svg {
            height: 0.75rem;
            width: 100%;
          }
          @media (min-width: 992px) {
            svg,
            img {
              height: 1rem;
            }
          }
        }

        span {
          font-size: 0.875rem;
          color: var(--color-white);
          opacity: 0.5;
        }
      }

      @media (min-width: 992px) {
        margin-top: 2rem;

        .by-footer-content {
          flex-direction: row;
        }
      }
    }
  }
}
